{
  "name": "The Weird Watch",
  "title_screen_background_image":"title_screen_background.png",
  "title_screen_logo_image":"diamond-g7915c1180_1280.png",
  "initial_scene_file":"level1",
  "gameover_image": "gameover.png",
  "gameover_background_image": "gameover_background.png",
  "initial_continue_count":3,
  "cursor_image":"cursor.png"
}